body {
  margin: 0;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
}

h1 {
  margin-top: 0;
  font-family: 'Sacramento', cursive;
}

h2 {
  font-family: 'Raleway', sans-serif;
}

h3 {
  font-family: 'Raleway', sans-serif;
}

.top-container {
  background-color: #F5EDDC;
  position: relative;
  padding-top: 100px;
}

.bottom-cloud {
  position: absolute;
}

.top-cloud {
  position: absolute;
  right: 705px;
  top: 50px;
}

.my-picture {
  border-radius: 50%;
  height:200px;
  width:200px;
}

.mechanical-keyboard {
  height:250px;
  width:250px;
}

.brain {
  background-color: #F5EDDC;
  height:230px;
  width:230px;
}
